@import "../../sass/main.scss";

.bag {
  @include background;
  @include primary-font;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px;
  overflow-y: auto;
  h2 {
    @include heading;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    border-bottom: $border;
    padding-bottom: 10px;
  }
}

.bag-products {
  margin: 0 10px;
  width: 100%;
}

.bag-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border;
  max-height: 375px;
  min-height: 318px;
  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.select-qty {
  width: 100px;
}

.bag-product-img {
  width: 30%;
}

.order-sum {
  @include checkout-box;
  h2,
  p {
    border-bottom: $border;
  }
}

.checkout-btn {
  @include button-dark;
  width: 100%;
}

.pay-pal-btn {
  @include button-light;
  width: 100%;
}
