@import "../../sass/main.scss";

.bag {
  @include background;
  @include primary-font;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 50px;
  overflow-y: auto;
  margin-top: 15px;
  h2 {
    @include heading;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    border-bottom: $border;
    padding-bottom: 10px;
  }
}

.bag-products {
  margin: 0 10px;
  width: 100%;
}

.bag-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border;
  max-height: 375px;
  min-height: 318px;
  // max-width: 1000px;
  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.product-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  div {
    margin: 12px 0;
  }
  h3,
  p,
  h1,
  h2 {
    margin: 10px 0 0 0;
  }
  .options {
    display: flex;
    span {
      margin: 10px 10px 0 0;
      cursor: pointer;
      font-size: 12px;
    }
    img {
      height: 13px;
      margin: -2px 6px 3px 6px;
    }
  }
  h1 {
    font-size: 16px;
  }
  h3,
  p {
    font-size: 12px;
    color: darken($light-text, 10);
  }
  span {
    font-size: 13px;
  }
}

.qty-price {
  align-self: flex-start;
  margin: 38px 0 0 20px;
  padding-left: 0px;
  h3 {
    margin: 8px 0 0 86px;
  }
}

.select-qty {
  width: 100px;
}

.bag-product-img {
  width: 180px;
}

.order-sum {
  @include checkout-box;
  ul {
    border-top: $border;
    border-bottom: $border;
    margin-bottom: 24px;
  }
  h2 {
    margin: 0 0 20px;
    font-size: 14px;
  }
  li {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
  }
  #total-cart {
    font-size: 25px;
    padding: 10px 0;
  }
  button {
    margin: 6px 0 0 0;
  }
  .checkout-btn {
    margin: 8px 0;
  }
  p {
    text-align: left;
    border-bottom: $border;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: darken($light-text, 10);
  }
  .bag-btns {
    margin-top: 20px;
  }
}

.checkout-btn {
  @include button-dark;
  width: 100%;
}

.pay-pal-btn {
  @include button-light;
  width: 100%;
}

.bag-header {
  height: 327px;
  width: 100%;
  background: url("http://media.gucci.com/content/ShoppingBagHeroHeaderStandard_3200x960/1541006109/ShoppingBagHeroHeaderStandard_S91CRUISE_001_Default.jpg");
  background-position: bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    padding-top: 160px;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
  }
}

.bag-page {
  margin-top: -120px;
}

// .bag-right {
//   display: flex;
//   flex-direction: column;
// }

select#soflow {
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  background: $background;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
  cursor: pointer;
}
