@import "./mixins.scss";
@import "./variables.scss";

body {
  // background: #888;
}
* {
  text-decoration: none;
  font-weight: lighter;
}
a,
a:visited,
a:hover,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}
