@import "./variables.scss";
@import url("https://use.typekit.net/idz8jyc.css");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

// @font-face {
//   font-family: "Futura";
//   src: local("Futura"), url(../fonts/Futura_Book.ttf) format("ttf");
// }

@mixin primary-font {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin gucci-font {
  font-family: Cinzel;
  font-weight: 700;
}

@mixin background {
  background: $background;
  margin: 135px 15px 0;

  width: unquote("-webkit-calc(100% - 30px)");
}

@mixin checkout-box {
  min-width: 295px;
  max-width: 295px;
  height: 502px;
  background: white;
  margin: 10px 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

@mixin button {
  font-size: 14px;
  height: 40px;
  width: 220px;
  &:hover {
    cursor: pointer;
  }
}

@mixin button-dark {
  @include button;
  background: black;
  color: $background;
}

@mixin button-light {
  @include button;
  background: $background;
  border: 2px solid black;
}

@mixin heading {
  color: $light-text;
  text-align: left;
}
