@import "../../sass/main.scss";
.profile {
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  margin-top: -120px;
}

.profile-header {
  height: 327px;
  width: 100%;
  background: url("http://media.gucci.com/content/HeroAccountLandingStandard_3200x960/1541006106/HeroAccountLandingStandard_S91CRUISE_001_Default.jpg");
  background-position: bottom center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    padding-top: 160px;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
  }
}

.profile-container {
  background: rgb(231, 231, 231);
  margin: 15px;
  height: 100vh;
  width: unquote("-webkit-calc(100% - 30px)");
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;

  .recommend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-right: 1px solid white;
    h1 {
      color: black;
    }
    h1:hover {
      color: grey;
      cursor: pointer;
    }
  }

  .saved {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    a {
      color: black;
      &:hover {
        color: gray;
      }
    }
    h1 {
      color: black;
    }
    h1:hover {
      color: grey;
      cursor: pointer;
    }
  }

  .pic-holder {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: none;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  h1 {
    font-size: 34px;
    margin-bottom: 8px;
  }

  p {
    font-family: Times New Roman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
  }
}
