@import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";
@import "../../sass/main.scss";

.product {
  margin-top: -120px;
  position: relative;
  .product-info {
    position: absolute;
    top: 210px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    h1,
    h2,
    h3 {
      @include primary-font;
      margin: 20px auto;
    }

    h2,
    h3 {
      color: gray;
      margin: 15px auto;
    }

    h1 {
      font-size: 20pt;
      letter-spacing: 3px;
      line-height: 35px;
    }

    h2 {
      padding-bottom: 15px;
      border-bottom: 1px solid gray;
      font-size: 16pt;
    }

    h3 {
      font-size: 13px;
    }
    .add-to-bag {
      height: 40px;
      width: 250px;
      background: black;
      color: white;
      font-size: 10pt;
      font-weight: 100;
    }
  }
  .heart {
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
  .images {
    display: block;
    width: 100vw;
    background: $gray;
    position: relative;
    .slick-list {
      max-width: 2000px;
      margin: auto;
      button.slick-arrow.slick-next {
        right: -25px;
      }
    }
  }
  $scale: 0.25;
  $arrowHeight: 300px * $scale;
  $arrowWidth: 99px * $scale;
  .prevArrow {
    height: $arrowHeight;
    width: $arrowWidth;
    left: 50px;
    z-index: 2;
  }
  .nextArrow {
    height: $arrowHeight;
    width: $arrowWidth;
    right: 50px;
    z-index: 2;
  }
  .mucci-dots {
    position: absolute;
    bottom: 50px;
    li {
      height: 5px;
      width: 50px;
      margin: 0 1px;
      background: #ddd;
      button {
        display: none;
      }
    }
    li.slick-active {
      background: darken(gray, 5);
    }
  }
  .details {
    background: #f7f7f7;
    display: flex;

    main {
      flex: 2.5;
      margin: 35px;
      font-size: 11pt;
      hr {
        margin: 0;
      }
      @include primary-font;
      .accordian {
        border-bottom: 2px solid $gray;
        height: 70px;
        overflow: hidden;
        transition: height 0.4s;
        text-align: left;
        &:hover {
          height: 370px;
          border-bottom-color: #aaa;
          h6:after {
            content: "-";
            font-size: 18pt;
            line-height: 11pt;
          }
        }
        > h6 {
          display: flex;
          justify-content: space-between;
        }
        h6 {
          margin: 30px 0;
          &:after {
            content: "+";
            font-size: 18pt;
            line-height: 11pt;
          }
        }
        > p {
          max-width: 550px;
          text-align: left;
          line-height: 35px;
        }
        > div {
          max-width: 550px;
          img {
            margin-right: 5px;
          }
          h5,
          > p {
            text-align: center;
          }
          h5 {
            font-size: 23px;
            margin: 10px 0;
          }
        }
      }
    }

    aside {
      background: #fff;
      flex: 1;
      margin: 35px;
      text-align: left;
      padding: 30px;
      img {
        height: 200px;
        display: block;
        margin: auto;
      }
      h4,
      p,
      ul,
      li {
        @include primary-font;
        line-height: 25px;
        margin: 5px 0px;
        font-size: 10pt;
        font-weight: 100;
      }
      h4 {
        font-size: 11pt;
        text-transform: uppercase;
      }
      li {
        position: relative;
        margin-left: 15px;
        &:before {
          content: "•";
          position: absolute;
          left: -20px;
        }
        font-size: 11pt;
      }
    }
  }
}
