@import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";
@import "../../sass/main.scss";

.product {
  .images {
    display: block;
    width: 100vw;
    background: $gray;
    .slick-list {
      max-width: 2000px;
      margin: auto;
      button.slick-arrow.slick-next {
        right: -25px;
      }
    }
  }
}
