.header {
	background-color: #191919;
	min-height: 120px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	font-size: calc(10px + 2vmin);
	color: white;
}

.bag-link {
}
