@import "../../sass/main.scss";

.header {
  min-height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: calc(10px + 2vmin);
  background: linear-gradient(to bottom, #191919, rgba(0, 0, 0, 0));
  color: white;
  z-index: 5;

  &:hover {
    background: #191919;
  }

  .top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .top-child {
      flex: 1;
    }
    .left {
      display: flex;
      align-items: center;
      p {
        @include primary-font;
        font-size: 11pt;
        margin: 0 15px;
      }
    }
    .right {
      display: flex;
      justify-content: flex-end;
      a {
        color: white;
        display: inline;
        margin: 0 15px;
        cursor: pointer;
      }
    }
  }

  nav {
    width: 100%;
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: center;
    font-size: 12pt;
    text-transform: uppercase;
    a {
      margin: 0 20px;
      @include primary-font;
      font-weight: bold;
    }
  }
}

.black {
  background: #191919;
}

.gray {
  background: transparent;
  * {
    color: black;
    &:visited {
      color: black;
    }
  }
  &:hover {
    * {
      color: white;
      &:visited {
        color: white;
      }
    }
  }
}

.clear {
  background: transparent;
}
.logo {
  @include gucci-font;
}

.bag-link {
}
