@import "../../sass/main.scss";

.login {
  @include background;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  font-weight: 300;
  position: relative;

  .signin-title {
    font-size: 30px;
    padding-bottom: 10px;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 15px;
    width: 55%;
    border-bottom: rgb(170, 168, 168) 0.9px solid;
  }
  .diamond {
    height: 11px;
    position: absolute;
    top: 95px + 120px;
  }
}

.login-form {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  border-right: 1px white solid;
  height: 100%;
}

.signin-input {
  display: flex;
  //   justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 11px;
    width: 80%;
  }
  input {
    margin-top: 2px;
    border: none;
    width: 80%;
    margin-bottom: 30px;
  }

  .signin-btn {
    background: black;
    color: rgb(231, 231, 231);
    font-size: 14px;
    height: 40px;
    width: 220px;
  }

  .error-msg {
    height: 15px;
    width: 100%;
    margin-bottom: 10px;
    color: red;
    font-size: 11px;
  }
}

.content {
  text-align: left;
  padding-top: 10px;
  display: flex;
  width: 780px;
  height: 310px;
}

.form-input {
  height: 40px;
  width: 280px;
}

.new-account-signin {
  padding-top: 20px;
  margin-left: 50px;
  width: 40%;
  h2 {
    font-size: 20px;
    line-height: 22px;
  }
  h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  li {
    list-style-position: inside;
    list-style-type: circle;
    margin-top: 10px;
    font-size: 13px;
  }
  .signup-btn {
    margin-top: 30px;
    background: rgb(231, 231, 231);
    border: 2px solid black;
    font-size: 14px;
    height: 40px;
    width: 220px;
  }
}
