@import "../../sass/main.scss";

.btn_wrapper {
  background-color: transparent;
  color: black;
  border-radius: 50%;
}
.btn {
  position: relative;
  cursor: pointer;
  width: 15px;
  height: 15px;

  ul.btn_subMenu {
    font-size: 16px;
    margin: 0;
    padding: 20px;
    display: none;
    position: absolute;
    top: 16px;
    right: 270px;
    min-width: 300px;
    min-height: 115px;
    background-color: white;
    border-radius: 1px;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    z-index: 5;
    list-style: none;
    text-align: left;
    cursor: default;
    li {
      padding: 10px;
    }
  }
}

div.btn_wrapper:hover {
  ul.btn_subMenu {
    display: block !important;
    position: relative;
  }
}
