@import "../../sass/main.scss";

.accordion-box {
  margin: 20px 0;
  padding: 0;
  max-width: 400px;
}

.accordion-box label {
  display: block;
  margin: 2px 0;
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.accordion-box label:hover {
  background: #888;
}
.accordion-box input {
  display: none;
}
.accordion-contents {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: border-top 0.3s ease-out, padding-top 0.3s ease-out,
    padding-bottom 0.3s ease-out, line-height 0.3s ease-out,
    opacity 0.1s linear 0.1s, visibility 0.1s linear 0.1s;
}
.accordion-check:checked + .accordion-contents {
  height: auto;
  padding: 5px;
  opacity: 1;
  transition: border-top 0.4s ease-out, padding-top 0.4s ease-out,
    padding-bottom all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    line-height 0.3s ease-out, opacity 0.3s linear 0.3s,
    visibility 0.3s linear 0.3s;
}
